<form [formGroup]="form" (ngSubmit)="submit()">
  <app-error-paragraph
    *ngIf="isGlobalErrorSet()"
    [errorMessage]="globalError"
  ></app-error-paragraph>

  <app-text-field-placeholder
    placeholder="Email"
    [formElement]="form.controls.email"
    [showError]="showAllErrors"
  ></app-text-field-placeholder>

  <app-text-field-placeholder
    placeholder="Пароль"
    [formElement]="form.controls.password"
    [showError]="showAllErrors"
  ></app-text-field-placeholder>

  <app-text-field-placeholder
    placeholder="Подтверждение пароля"
    [formElement]="form.controls.confirmPassword"
    [showError]="showAllErrors"
  ></app-text-field-placeholder>

  <app-text-field-placeholder
    placeholder="Имя"
    [formElement]="form.controls.firstName"
    [showError]="showAllErrors"
  ></app-text-field-placeholder>

  <app-text-field-placeholder
    placeholder="Фамилия"
    [formElement]="form.controls.lastName"
    [showError]="showAllErrors"
  ></app-text-field-placeholder>

  <app-text-field-placeholder
    placeholder="Номер телефона"
    [formElement]="form.controls.phoneNumber"
    [showError]="showAllErrors"
  ></app-text-field-placeholder>

  <app-choice-gender
    fieldName="Пол"
    [formElement]="form.controls.gender"
    [showError]="showAllErrors"
  ></app-choice-gender>

  <br/>

  <app-middle-control>
    <button
      type="submit"
      class="button-red-rounded"
    >Зарегистрироваться</button>
  </app-middle-control>

</form>
