<form [formGroup]="form" (ngSubmit)="submit()">
  <app-error-paragraph
    *ngIf="isGlobalErrorSet()"
    [errorMessage]="globalError"
  ></app-error-paragraph>

  <app-text-field
    fieldName="Email"
    [nextLine]="true"
    [formElement]="form.controls.email"
    [showError]="showAllErrors"
  ></app-text-field>

  <app-text-field
    fieldName="Пароль"
    [nextLine]="true"
    [formElement]="form.controls.password"
    [showError]="showAllErrors"
  ></app-text-field>

  <app-text-field
    fieldName="Подтверждение пароля"
    [nextLine]="true"
    [formElement]="form.controls.confirmPassword"
    [showError]="showAllErrors"
  ></app-text-field>

  <app-text-field
    fieldName="Имя"
    [nextLine]="true"
    [formElement]="form.controls.firstName"
    [showError]="showAllErrors"
  ></app-text-field>

  <app-text-field
    fieldName="Фамилия"
    [nextLine]="true"
    [formElement]="form.controls.lastName"
    [showError]="showAllErrors"
  ></app-text-field>

  <app-text-field
    fieldName="Номер телефона"
    [nextLine]="true"
    [formElement]="form.controls.phoneNumber"
    [showError]="showAllErrors"
  ></app-text-field>

  <app-choice-gender
    fieldName="Пол"
    [formElement]="form.controls.gender"
    [showError]="showAllErrors"
  ></app-choice-gender>

  <button
    type="submit"
    class="py-2 px-4 mt-3 mx-auto rounded-1 bg-blue-600 text-white"
  >Создать</button>
</form>
