<nav class="navigation_menu"
>
  <h1>
    <a routerLink="/" class="text-decoration-none">
      <app-logotype-text></app-logotype-text>
    </a>
  </h1>

  <div class="menu-items-div"
  >
    <a routerLink="/topics" class="menu-item">Каталог</a>
    <a routerLink="/" class="menu-item">Мои формы</a>
    <a routerLink="/user-list" class="menu-item">Пользователи</a>
    <div class="dropdown">
      <button class="dropbtn">Меню</button>
      <div class="dropdown-content">
        <a href="#">Ссылка 1</a>
        <a href="#">Ссылка 2</a>
        <a href="#">Ссылка 3</a>
      </div>
    </div>
  </div>
</nav>
