<form [formGroup]="form" (ngSubmit)="submit()">
  <app-error-paragraph
    *ngIf="isGlobalErrorSet()"
    [errorMessage]="globalError"
  ></app-error-paragraph>

  <app-text-field-placeholder
    placeholder="Email"
    [formElement]="form.controls.email"
    [showError]="showAllErrors"
  ></app-text-field-placeholder>

  <app-text-field-placeholder
    placeholder="Пароль"
    [formElement]="form.controls.password"
    [showError]="showAllErrors"
  ></app-text-field-placeholder>

  <app-checkbox-single
    fieldName="Запомнить меня"
    [formElement]="form.controls.rememberMe"
  ></app-checkbox-single>

  <br/>

  <app-middle-control>
    <button
      type="submit"
      class="button-red-rounded"
    >Войти</button>
  </app-middle-control>

</form>
