<form [formGroup]="form" (ngSubmit)="submit()">
  <app-error-paragraph
    *ngIf="isGlobalErrorSet()"
    [errorMessage]="globalError"
  ></app-error-paragraph>

  <app-text-field
    fieldName="Текущий пароль"
    [formElement]="form.controls.oldPassword"
    [showError]="showAllErrors"
  ></app-text-field>

  <app-text-field
    fieldName="Новый пароль"
    [formElement]="form.controls.newPassword"
    [showError]="showAllErrors"
  ></app-text-field>

  <app-text-field
    fieldName="Подтвердите новый пароль"
    [formElement]="form.controls.confirmNewPassword"
    [showError]="showAllErrors"
  ></app-text-field>

  <br/>

  <div
    class="flex flex-row items-center"
  >
    <button
      type="submit"
      class="button-red-rounded"
    >Изменить</button>

    <button
      type="button"
      class="button-back"
      (click)="doTransferToMainPage()"
    >Назад</button>
  </div>

</form>
