<div class="main-body">
  <app-header></app-header>
  <app-error></app-error>

  <app-large-area
    title="Формы из темы {{getTopicName()}}"
    buttonBackRoute="/topics"
  >
    <input
      type="text"
      class="m-2 border rounded-1 py-2 px-4 w-11/12"
      placeholder="Поиск по формам..."
      [(ngModel)]="term"
    />

    <p *ngIf="loading" class="text-center text-lg p-2">Загрузка...</p>

    <app-form-item-in-list
      *ngFor="let item of forms | filterForms: term"
      [form]="item">
    </app-form-item-in-list>

    <button
      class="rounded-pill bg-red-700 text-white fixed right-5 bottom-8 py-2 px-3"
      (click)="modalService.open()"
    >+</button>
  </app-large-area>
</div>

<app-modal-create-window
  *ngIf="modalService.isVisible()"
  title="Создать новую форму"
>
  <app-create-form
    [topic]="topic"
  ></app-create-form>
</app-modal-create-window>
